<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.bbs.database.dao.AnnounceDao">
    <select id="getAnnounce" resultType="AnnounceEntity">
        SELECT * FROM announcement WHERE announceId=1
    </select>

    <insert id="addAnnounce" parameterType="AnnounceEntity">
        INSERT INTO announcement VALUES (#{announceId}, #{title},#{content},#{announceTime})
    </insert>

    <update id="updateAnnounce" parameterType="AnnounceEntity">
        UPDATE announcement SET title=#{title},content=#{content},
        announceTime=#{announceTime} WHERE announceId=1
    </update>

</mapper>