<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.bbs.database.dao.StickyDao">
    <insert id="addNewSticky" parameterType="StickyEntity">
        INSERT INTO sticky VALUES (#{topicId},#{stickTime})
    </insert>

    <select id="getAllStick" resultType="StickyEntity">
        SELECT * FROM sticky
    </select>

    <delete id="deleteSticky" parameterType="Integer">
        DELETE FROM sticky WHERE topicId=#{0}
    </delete>

    <select id="whetherSticky" parameterType="Integer" resultType="StickyEntity">
        SELECT * FROM sticky WHERE topicId=#{0}
    </select>
</mapper>